<!DOCTYPE html>
<html ng-app="projectApp">
	<head>
		<link href= "/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src = "/bower_components/angular/angular.min.js"></script>
		<script src = "/bower_components/angular-route/angular-route.min.js"></script>
		<script src = "/bower_components/angular-cookies/angular-cookies.min.js"></script>
		<script src= "/bower_components/ng-lodash/build/ng-lodash.min.js"></script>
		<script src="/js/modules/app.js"></script>
		<script src="/js/controllers/pro_controller.js"></script>
		<script src="/js/models/pro_service.js"></script>
		<script src="/js/directives/dashBoard.js"></script>
		
		<title>All projects info</title>
	</head>
	<body>
	
		<div class="page-header" ng-controller="mainController">
			<div class="col-sm-offset-10">
				<select class="btn btn-success" ng-model="id" ng-change="userData(id)">
					<option ng-repeat="user in msg.data.users"  ng-value="{{user.user_id}}">{{user.user_name}}</option>
				</select>
				<tt>{{user.user_id}}</tt>
			</div>
		</div>
		<pro_controller></pro_controller>
		 <pro_controller1></pro_controller1>
		
		
	</body>
</html>
		
